{% extends 'base.html' %}

{% load static %}

{% block login-select %}
text-amber-500 font-bold
{% endblock %}

{% block placeholder %}
<div class="w-full flex justify-center items-center h-96">
    <div class="bg-transparent shadow-xl rounded-xl h-fit w-72 lg:w-fit">
        <p class="text-center rounded-xl font-bold font-serif text-blue-950 p-1 w-full mb-2 text-xl">Sign Up To Get Started</p>
        {% if form.errors %}
        <div class="ml-12 text-red-500 text-center text-wrap w-64 flex" style="font-size: x-small;">{{ form.non_field_errors }}</div>
        {% endif %}
        <form method="POST" action="{% url 'main_app:login' %}">
            {% csrf_token %}
            <div class="m-4 lg:grid lg:grid-cols-3 lg:gap-4">
                <label for="username" class="font-bold font-serif text-blue-950 p-1">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username" class="bg-white border-2 border-blue-950 rounded-md p-1 w-52 lg:w-80 lg:col-span-2" required>
            </div>
            <div class="m-4 lg:grid lg:grid-cols-3 lg:gap-4">
                <label for="password" class="font-bold font-serif text-blue-950 p-1">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password" class="bg-white border-2 border-blue-950 rounded-md p-1 w-52 lg:w-80 lg:col-span-2" required>
            </div>
            <div class="m-4 flex justify-center">
                <input type="submit" value="Continue" class="text-center text-white bg-blue-950 p-2 rounded-xl font-bold hover:text-blue-950 hover:bg-white">
            </div>
        </form>
        <hr/>
        <p class="text-center text-blue-950 mb-4">Not yet Registered?<a href="{% url 'main_app:signup' %}" class="mx-2 text-blue-950 font-bold text-lg hover:underline hover:decoration-white hover:underline-offset-4 hover:decoration-4">Sign Up</a></p>
    </div>
</div>
{% endblock %}