{% extends 'base.html' %}

{% load static %}

{% block placeholder %}
<div class="w-full flex justify-center items-center h-screen">
    <div class="bg-transparent shadow-xl rounded-xl h-fit w-fit p-6 lg:w-fit">
        
        <h2 class="text-center rounded-xl font-bold font-serif text-blue-950 p-1 w-full mb-2 text-xl">{{ post.title }}</h2>
        <p class="text-center text-wrap text-sm mb-4" > By {{ post.author.username }}</p>
        <hr>
        <p class="text-center text-wrap my-4">{{ post.content }}</p>
        {% if post.author == user %}
        <a class="text-center text-white bg-blue-950 rounded-xl font-bold hover:text-blue-950 hover:bg-white h-8 w-40" href="{% url 'main_app:post' post.id%}">Read Post</a>
        {% end if%}
    </div>
</div>
{% endblock %}